<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new user</title>
</head>
<body>
    <h2>Enter details to add a new user</h2>
    <form method="post" action="/user">
        <input type="text" name="id" placeholder="Enter Your Id"><br>
        <input type="text" name="username" placeholder="Enter Your Username"><br>
        <input type="email" name="email" placeholder="Enter Your email"><br>
        <input type="password" name="password" placeholder="Enter Your Password"><br>
        <button type="submit">Add User</button>
    </form>
</body>
</html>